* {
    box-sizing: border-box;
}

html,
body,
.wrapper {
    margin: 0;
    height: 100%;
    font-family: 'Avenir Next';
    font-weight: 600;
    font-size: 24px;
    color: black;
}

.wrapper {
    background: 
        linear-gradient(180deg, rgba(253, 163, 255, 0.05) 0%, rgba(201, 158, 255, 0.05) 100%),
        linear-gradient(-25deg, rgba(108, 41, 217, 0.2) 0.24%, rgba(140, 200, 255, 0.2) 100%),
        radial-gradient(433.96px at 99.12% 97%, rgba(140, 255, 207, 0.1) 0%, rgba(107, 193, 255, 0.1) 100%)
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.game-container {
    height: 500px;
    width: 500px;
    background: linear-gradient(-135deg, #fff, #e8e9eb 600%);
    background: repeating-linear-gradient(45deg, #fafafa, #fafafa 10px, #eee 10px, #eee 12px);
    border: 2px solid black;
    box-shadow: 0 35px 105px -30px rgb(176, 181, 222);
    border-radius: 25px;
    background: contain;
    padding: 1.618em;
}

#grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 25%;
    align-content: center;
    justify-content: center;
}

.card {
    font-size: 1.25em;
    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card__side {
    border: 2px solid black;
    box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.269);
    border-radius: 15px;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: match 1s;
}

.card__front {
    /* background: repeating-linear-gradient(45deg, #fafafa, #fafafa 10px, #eee 10px, #eee 12px); */
    background: #fafafa;
    transform: rotateY(180deg)
}

.card__back {
    background: 
        linear-gradient(135deg, #b5e8e8, #59dcda 200%)        ;
}

.card.flipped {
    transform: rotateY(180deg)
}

@keyframes match {
    from {

    }
    to {

    }
}

@keyframes noMatch {
    from {

    }
    to {

    }
}