* {
    box-sizing: border-box;
}

html,
body,
.wrapper {
    margin: 0;
    height: 100%;
    font-family: 'Avenir Next';
    font-weight: 600;
    font-size: 24px;
    color: white;
}

.wrapper {
    background: 
        linear-gradient(180deg, rgba(253, 163, 255, 0.05) 0%, rgba(201, 158, 255, 0.05) 100%),
        linear-gradient(126.69deg, rgba(108, 41, 217, 0.2) 0.24%, rgba(140, 200, 255, 0.2) 100%),
        radial-gradient(433.96px at 99.12% 97%, rgba(140, 255, 207, 0.1) 0%, rgba(107, 193, 255, 0.1) 100%)
    ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    height: 500px;
    width: 500px;
    background: url(../images/background.svg);
    box-shadow: 0 45px 75px -40px #A2A8DE;
    border-radius: 15px;
    background: contain;
    padding: 1.618em;
}

#grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 25%;
    align-content: center;
    justify-content: center;
    animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card {
    font-size: 1.25em;
    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card__side {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.153);
    border-radius: 15px;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__front {
    background: linear-gradient(135deg, #74b9ff, #0984e3 300%);
    transform: rotateY(180deg)
}

.card__back {
    background: linear-gradient(135deg, #9beded, #24d8d5 170%);
}

.card.flipped {
    transform: rotateY(180deg)
}